.content{
    color: rgb(29, 101, 3);
    font-size: x-large;
    font-weight: 900;
    
}
.para2{
    color: rgb(250, 32, 8);
    background-color: yellow;
    font-size: 1rem;
    font-weight: 900;
    
}
div{
    height: 100px;
    width: 100px;
    background-color: blue;
}